In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
#create a dataframe
df = pd.DataFrame({'color':['Green','Red','Blue','Green','Blue']})

In [3]:
df.head()

   color
0  Green
1    Red
2   Blue
3  Green
4   Blue

In [4]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()

In [5]:
lbl_encoder.fit_transform(df[['color']])

c:\Users\Admin\Desktop\krish_naik_course\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([1, 2, 0, 1, 0])

In [7]:
lbl_encoder.transform([['Red']])

c:\Users\Admin\Desktop\krish_naik_course\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

Ordinal Encoding

In [8]:
from sklearn.preprocessing import OrdinalEncoder

In [21]:
df = pd.DataFrame({'size':['large','medium','small','medium','large']})

In [22]:
df.head()

     size
0   large
1  medium
2   small
3  medium
4   large

In [23]:
df

     size
0   large
1  medium
2   small
3  medium
4   large

In [24]:
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [25]:
encoder.fit_transform(df[['size']])

array([[2.],
       [1.],
       [0.],
       [1.],
       [2.]])

In [26]:
encoder.transform([['small']])

c:\Users\Admin\Desktop\krish_naik_course\.venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])